
div.one-third {
	width: 47.5%;
}

div.one-third-second {
	margin: 0;
}

div.one-third-last {
	clear: both;
	float: none;
	width: auto;
	padding: 20px 0 0 0;
}

div.nav ul li {
	width: 25%;
	border-bottom: 1px solid #bababa;
}

@media screen and (max-width: 620px) {
div.nav{margin-top:10%;}
div.nav ul {
	padding-bottom:10%;
}
	div.nav ul li {
		width: 20%;
		font-size: 85%;
	}
}

@media screen and (max-width: 510px) {
div.header{padding-bottom:32%;}
	div.nav ul li {
		width: 50%;
		font-size: 85%;
	}

	div.mobile-collapse {
		width: auto;
		float: none;
		margin-right: 0;
	}

	.hide-mobile {
		display: none;
	}
body{color: red-text;}
}
.container {
	width: 100px;
	clear: both;
}

.container input {
	width: 100%;
	clear: both;
}
.pad-it{font-size: 80%;
width:90%;
margin-top:10%;}
.background{
	background-image: url(images/mobile_background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;}
}
