h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 1em 0;
	font-size: 93%;
	line-height: 1.5em;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #e6e6e6;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}


/* Section Inner */

div.section-inner {
	max-width: 1100px;
	padding: 0 25px;
	margin: 0 auto;
}

div.section-inner img {
	float:left;
}

/* Header */

body {
	margin: 0px;
}

.logo {
	float: left;
	margin-top: 10px;
}

div.header {
	background-color:white;
	padding: 40px 0;
}

.nav-header {
	float:right;
    margin-right: 5%;
}


/* Navigation */

div.nav {
	background-color:#989393;
}

div.nav ul {
	margin: 0;
	padding: 0;
	color: #a7a5a5;;
}

div.nav ul li {
	list-style: none;
	float: left;
	font-size: 93%;
	color: #a7a5a5;;
}

div.nav ul li a:link,
div.nav ul li a:visited {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: #E9E9E9;
	border-right: 1px solid #bababa;
}

/* Body Content */

.background {
	height: 700px;
	background-image: url(images/background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

div.body-content {
	padding: 50px 0;
	background-color: #FFF;
}

/* Thirds */
div.thirds {
	padding-bottom: 50px;
}

div.one-third {
	width: 30%;
	float: left;
	margin-right: 5%;
}

div.one-third-last {
	margin: 0;
}

/* Main Column */
div.main {
	width: 65%;
	float: left;
	margin-right: 5%;
}

/* Side Column */
div.side {
	width: 30%;
	float: left;
}

/* Info Box */
div.info-box-a {
	background-color: #9bdaef;
	padding: 20px;
	font-size: 13px;
	margin: 0 0 15px 0;
}

div.info-box-b {
	background-color: #efdb7f;
	padding: 20px;
	font-size: 13px;
	margin: 0 0 15px 0;
}

/* Footer */
div.footer {
	background-color:#989393;
	color: #FFF;
	padding:15px 0;
	text-align: center;
}

div.footer ul {
  list-style:none;
}


.pad-it {
	margin: 0 0 30px;
}

.container {
	width: 200px;
	clear: left;
}

.container input {
	width: 100%;
	clear: right;}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1;
}

div.footer li{
  list-style:none;
	text-decoration: none;
}

div.footer a{
  list-style:none;
	text-decoration: none;
	color:white;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1;
}
